*{
    margin:0px;
    padding:0px;
}
.aboutus{
    width: 100%; 
   
}
.heading{
    text-align: center;
    padding-top: 15%;
    padding-left: 41.5%;
    display: flex;
    color: orangered;
    font-size: x-large;
    font-weight: 700;
}
.about{
    padding-right: 3%;
    color: #000;
}
.cards{
    display: flex;
}
.card1{
    background-color: #fffff1;
    width: 20%;
    margin-left: 6%;
    margin-top: 5%;
    box-shadow: 2px 2px 10px lightgrey;
    padding: 2% 3%;
}
.card1 .top{
    display: flex;
}
.logo {
    color: pink;
    font-size: 200%;
    margin-left: -7%;
    margin-bottom: 5%;
}
.tlte{
    width: max-content;
    padding-left: 3%;
    padding-top: 3%;
}
.bottom{
    padding-top: 5%;

}
.bottom a{
    text-decoration: none;
    color: black;
}
.card2{
    background-color: #fffff1;
    width: 20%;
    margin-left: 6%;
    margin-top: 5%;
    box-shadow: 2px 2px 10px lightgrey;
    padding: 2% 3%;
    margin-bottom: 5%;
}
.card2 .top{
    display: flex;
}
@media screen and (max-width:910px) {
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .logo {
        color: pink;
        font-size: 200%;
        margin-left: 0%;
        margin-bottom: 5%;
    }
    .card1 {
        background-color: #fffff1;
        width: 70%;
        margin-left: 6%;
        margin-top: 5%;
        box-shadow: 2px 2px 10px lightgrey;
        padding: 2% 3%;
    }
    .card2{
        background-color: #fffff1;
        width: 70%;
        margin-left: 6%;
        margin-top: 5%;
        box-shadow: 2px 2px 10px lightgrey;
        padding: 2% 3%;
    }
    
    .heading {
        text-align: center;
        padding-top: 15%;
        padding-left: 32.5%;
        display: flex;
        color: orangered;
        font-size: x-large;
        font-weight: 700;
    }
    
}