*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fixed navbar*/
.navbar{
    display: flex;
    width: 100%;
    z-index: 1000;
    position: sticky;
    top: 0;
    background: #fff;
    height: 50px;
    margin-top: 15px;
}
.nav-list{
    top: 0px;
    width: 60%;
    background-color: transparent;
    display: flex;
    /* margin-top: -38px; */
    /* bottom: 213px; */
    position: fixed;
    left: 0;
    bottom: 138.5%;
}
.rightnav{
    position: fixed;
    width: 40%;
    background-color: transparent;
    display: flex;
    /* margin-left: -90px; */
    /* margin-top: -25px; */
    right: 0;
    top: 0px;
    bottom: 138.5%;
}
.name-company{
    margin-left: 20px;
    margin-top: 10px;

}
.name-company a{
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: sans-serif;
}

.logo{
    margin-left: 54px;
}
.logo img{
    display: flex;
    width: 60px;
    height: 50px;
    border-radius: 50px;
}

.btn button{
    margin: 2px 5px;
    border: 0px solid black;
    border-radius: 5px;
    background: lightgreen;
    padding: 6px 25px;
    vertical-align: middle;
    margin-left: 13px;
    width: max-content;
}
.btn{
    background: #fff;
    padding-left: 0px;
}
.btn a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-family: monospace;
}
button:hover{
    opacity: 0.7;
    cursor: pointer;

}

ul {
    display: flex;
    list-style-type: none;
    padding-left: 0px;
}
ul li{
    padding: 13px 10px;
    width: max-content;
    text-align: center;
}
ul li a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 14px;
    font-family: monospace;
}
ul li a:hover{
    color: green;
}
.line-header--sticky {
    position: sticky;
    top: 50px;
}
.line-header {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e0e3eb;
    z-index: 2;
}
.img-sec-two {
    top: 20%;
    background-image: url("../courtney-cook-lFor2z1U-8w-unsplash.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
    
}
.heading-sec-two{
    text-align: center;
    font-size: 40px;
    padding-top: 20px;
    color: #fff;
    font-weight: bold;
    
}
.content-small-sec-two{
text-align: center;
font-size: 28px;
    color: #fff;
}
.sec-three{
    margin-top: 60px;
}
.sec3-head{
    font-size:30px;
    font-weight:bold;
    font-family:monospace;
    margin-left:40px;    
}
.sec3-below{
    color:grey;
    font-family:monospace;
    margin-left:40px;   
}
.all-cards{
    display: flex;
}
.card{
    margin-top: 83px;
    width: 26%;
    min-height: 50vh;
    border-radius: 5px;
    background: #FBFBFC;
    margin-left: 6%;
    box-shadow: 1px 10px 10px grey;
}
.card:hover{
    cursor: pointer;
    box-shadow: 3px 30px 30px grey;
}
.card-img img{
    width: 100%;
    border-radius: 5px;
    height: 190px;

}
.img-holder-card{
    position: relative;
    width:100%;
}
.icon-img-card{
    background: #CCE500;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    z-index: 4;
    right: 20px;
    bottom: -35px;
    line-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-img-card img{
    width: 60px;
} 
.heading-card{
    margin-top: 40px;
    margin-left: 20px;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;

}
.content-card{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    color: grey;
}
.icons-card{
    margin-top: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.icon-1{
    margin-left: 25px;
}
.icon-1 img{
    width: 45px;
    height: 45px;
}
.icon-2{
    margin-left: 25px;
    margin-top: 16px;
}
.icon-2 .fa{
    font-size: 30px;
    margin-left: 25px;
}
.icon-3{
    margin-left: 25px;
}
.icon-3 img {
    width: 45px;
    height: 45px;
    margin-left: 25px;
}
.sec-four{
    margin-top: 10%;
}
.head-sec4
{
    margin-left: 5%;
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
}
.below-sec4{
    margin-top: 5px;
    margin-left: 5%;
    font-family: monospace;
    color: grey;
    font-size: 17px;

}
.main-cont{
    display: flex;
    margin-top: 3%;
    margin-right: 20px;
    margin-left: 20px;
}
.lft {
    align-items: flex-start;
}
.rgt{
    align-items: flex-start;
}
.boxs4{
    border-radius: 4px;
    margin-left: -16px;
    margin-top: 20px;
    padding: 10px 0px 10px 32px;
    margin-bottom: 20px;
    display: flex;
}
.boxs4:hover{
    background: rgb(240, 237, 237);
}
.img-sec4{
    width: 30%;
}
.img-sec4 img{
    border-radius: 5px;
    max-height: 110px;
    width: 100%;
}
.content-sec4{
    width: 70%;
    padding-left: 20px;
    padding-right: 20px;
    
}
.head-cont{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 5px;
    color: #000000;
}
.head-cont:hover{
    color: limegreen;
}
.cont-cont{
    font-size: 16px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 300;
    line-height: 24px;
}
.head-sec5{
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    margin-left: 5%;
    
}
.bottom-sec5{
    margin-top: 5px;
    margin-left: 5%;
    font-family: monospace;
    color: grey;
    font-size: 17px;
}
.foot{
    color: #fff;
    padding: 20px 0;
    background: #393939;
    letter-spacing: 0.3px;
}
.wid-foot{
    max-width: 1200px;
    margin: auto;
}
.tt-foot{
    padding: 30px 0 30px 256px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}
.title{
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 17px;
    line-height: 19px;
}
.rows{
    position: relative;
    padding-bottom: 60px;
    padding-top: 30px;
}
.rows .title{
    top: 30px;
    bottom: auto;
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 17px;
    line-height: 19px;
}
a{
    text-decoration: none;

}
.items-sec-four{
    display: flex;
    width: 100%;
}
.heading{
    font-size: 9px;
    width: max-content;
    font-family: cursive;
}
.product{
    width: 33.33%;
    float: left;
    padding: 0 20px 0 0;
}
.content-product{
   display: flex;
   flex-direction: column;
   margin-top: 2%;
}
.content-product a{
    color: #fff;
    padding-top: 10px;
}
.content-product a:hover{
    color: greenyellow;
}
.collapsible {
    margin-left: 30%;
    margin-top: 3%;
    background-color: #393939;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 20%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 15px;
  }
  
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #393939;
  }
  .collapsible:after {
    content: '\02795'; 
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .wrapper {
    display: flex;
    align-items: left;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
    padding: 20px;
    margin-top: -8%;
  }
  
  .wrapper  #formContent {
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 90%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
  }
  
  .wrapper  #formFooter {
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    border-radius: 0 0 10px 10px;
  }
  
   input[type=submit], input[type=reset]  {
    background-color: greenyellow;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    border-radius: 5px 5px 5px 5px;
    margin: 5px 20px 40px 20px;
    transition: all 0.3s ease-in-out;
  }
  input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
    background-color: #39ace7;
    cursor: pointer;
}
 input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
    transform: scale(0.95);
  }
  
   #formContent input[type=text] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;

    border-radius: 5px 5px 5px 5px;
  }
  
  .wrapper  #formContent  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }
  
  .wrapper   #formContent input[type=text]:placeholder {
    color: #cccccc;
  }
  .wrapper   #formFooter{
      display: flex;
  }

  #formFooter a {
    color: green;
    /* padding-left: 20px; */
    margin-left: 10px;
    padding: 5px;
    
  }
  .underlineHover:after {

    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #56baed;
    content: "";
    transition: width 0.2s;
  }
  
  .underlineHover:hover {
    color:greenyellow;
  }
  
  .underlineHover:hover:after{
    width: 100%;
  }

a{
    text-decoration: none;
}
.sec-5{
    margin-top: 40px;
}
.container {
    padding-top: 70px;
    padding-bottom: 130px;
}
/* FOOTER */
.footer-v2 {
    color: #fff;
    padding: 20px 0;
    background: #393939;
    letter-spacing: 0.3px;
    
}
footer {
    margin-top: 1px;
    width: 100%;
    float: left;
    background: #393939;
    position: relative;
    z-index: 1000000;
}
.max-width {
    max-width: 1200px;
    margin: auto;
}
.footer-v2 .row.social {
    padding-bottom: 33px;
    padding-top: 30px;
}
.footer-v2 .row {
    padding-left: 256px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
}
.footer-v2 .row.social .title {
    top: 34px;
    bottom: auto;
}
.footer-v2 .row .title {
    font-weight: 400;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 17px;
    line-height: 19px;
}
.footer-v2 .row.social a {
    margin-right: 60px;
    
}
.footer-v2 .row.social a i.fa{
    font-size: 14px;
    background: #fff;
    color: #393939;
    padding: 10px;
    border-radius: 5px;

}
.footer-v2 .row.social a i.fa:hover{
    opacity: 0.7;
}
a {
    text-decoration: none;
}
.footer-v2 .row.main-links {
    padding: 30px 0 30px 256px;
}
.footer-v2 .row.main-links a.lft-side{
    font-weight: 300;
    float: left;
}
.footer-v2 .row.main-links a {
    font-size: 14px;
    margin-right: 38px;
    color: rgba(255, 255, 255, 0.9);
}
.footer-v2 .row.main-links a:hover{
    color: limegreen;
    text-decoration: none;
}
.footer-v2 .row:last-child {
    border-bottom: none;
}
.footer-v2 .row .copyrights {
    padding-top: 15px;
    text-align: center;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 300;
    margin-left: 21%;
}

@media (max-width: 900px)
{
    .navbar{
        display: flex;
        flex-direction: column;
        height : 0px;
        align-items: center;
    }
    .nav-list{
        flex-direction: column;
        width: 100%;
    }
    .logo {
        margin-left: 0px;
        background: aliceblue;
        width: 100%;
    }
    .rightnav{
        display: flex;
        flex-direction: column;
        width: 100%;
        top: 93px;
    }
    ul {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 6px 24px;
        background: aliceblue;
    }
    .btn{
        display: flex;
        margin-top: -18px;
        background: aliceblue;
    }
    .btn a{
        text-decoration: none;
        color: #fff;
    }
    .name-company{
        margin-left: 0px;
        margin-top: -1px;
        background: aliceblue;
    }
    .name-company a{
        /* margin-top: -37px; */
        font-size: 30px;
        text-align: center;
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-family: sans-serif;
        margin-left: 42px;
        /* padding-top: 13px; */
    }
    .logo img{
        display: flex;
        width: 60px;
        height: 50px;
        border-radius: 50px;
        margin-left: 10%;
    }
    .burger {
        position: absolute;
        cursor: pointer;
        right: 39px;
        top: 20px;
    }
    .line{
        width: 33px;
        background-color: black;
        height: 4px;
        margin: 3px 3px;

    }
    .h-nav-resp{
        height: 50px;
        position: fixed;
        z-index: 10;
        top: -15px;
        width: 100%;
    }
    .v-class-resp{
        opacity: 0;
        background-color: #fff;
    }
    .img-sec-two {
        /* top: 33%; */
        position: relative;
    }
    .heading-sec-two {
        font-size: 20px;
        padding-top: 64px;
    }
    .content-small-sec-two {
        font-size: 14px;
        margin-top: -17px;
    }
    .wrapper #formContent {
        width: 100%;
    }
    .all-cards {
        display: flex;
        flex-direction: column;
    }
    .card {
        margin-top: 83px;
        width: 90%;
        min-height: 50vh;
        border-radius: 5px;
        background: #FBFBFC;
        margin-left: 5%;
        box-shadow: 1px 10px 10px grey;
    }
    .line-header {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #fff;
        z-index: 2;
    }
    .line-header--sticky {
        position: sticky;
        top: 41px;
    }
    .main-cont {
        flex-direction: column;
    }
    .owl-carousel .owl-nav button.owl-prev {
        left: -22px;
        bottom: 32px;
    }
    .owl-carousel {
        margin-left: 32px;
    }
    .owl-carousel .owl-nav button.owl-next {
        right: 65px;
        bottom: 32px;
    }
    .title {
        left: 145px;
    }

    .rows .title {
        left: 113px;
        top: -35px;
    }
    .content-product a {
        color: #fff;
        padding-top: 10px;
        font-size: 10px;
    }
    .h1, h1 {
        font-size: 0.7rem;
    }
    footer.footer-v2 .row {
        display: block;
        text-align: center !important;
        padding-left: 0 !important;
    }
    footer.footer-v2 .row .title {
        position: static;
        text-align: center;
        display: block;
        min-height: 40px;
        height: auto;
    }
    footer.footer-v2 .row a {
        display: inline-block;
        float: none !important;
        padding: 20px !important;
        margin: 0 !important;
    }
    footer.footer-v2 .row ul {
        width: 100% !important;
        float: none !important;
        padding-bottom: 20px !important;
    }
    footer.footer-v2 .row .copyrights {
        text-align: left !important;
        color: #fff;
    }
    .wrapper #formFooter {
        align-items: center;
        justify-content: center;
    }
    .wrapper #formFooter {
        padding: 25px 0px;
    }
    input[type=submit], input[type=reset] {
        background-color: greenyellow;
        border: none;
        color: white;
        width: 80%;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        text-transform: uppercase;
        font-size: 13px;
        box-shadow: 0 10px 30px 0 rgb(95 186 233 / 40%);
        border-radius: 5px 5px 5px 5px;
        margin: 5px 20px 40px 20px;
        transition: all 0.3s ease-in-out;
    }
    
    .collapsible {
        /* margin-left: 30%; */
        margin-top: 3%;
        background-color: #393939;
        color: white;
        cursor: pointer;
        padding: 18px;
        /* width: 20%; */
        border: none;
        /* text-align: right; */
        outline: none;
        font-size: 10px;
    }
    .product {
        padding: 0 0px 0 0;
        margin-top: 20px;
        width: 100%;
        text-align: center;
    }
    .items-sec-four {
        display: flex;
        width: 100%;
        margin-left: 17px;
        align-items: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .heading {
        font-size: 9px;
        width: auto;
        padding-top: 20px;
    }
    .collapsible{
        width: max-content;
    }
    .collapsible:after{
        font-size: 10px;
    }
    .h1, h1 {
        font-size: 2rem;
    }
    .content-product a {
        font-size: 16px;
    }
    .collapsible:after {
        font-size: 16px;
    }
    .collapsible {
        font-size: 16px;
    
    }
}


@media screen and (min-width:1050px) and (max-width:1270px) {
    .btn{
        display: none;
    }
    
}
